body {
    max-width: 1200px;
}

.flex {
    display: flex;
    gap: 10px;
}
.center {
    justify-content: center;
}

.full-w {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.red {
    border: 1px solid red;
}

.btn {
    min-width: 100px;
    max-width: 200px;
}

.px {
    padding: 0 20px 0 20px;
}

.py {
    padding: 20px 0 20px 0;
}