<div class="question-header flex wrap center">
<div class="desiredInfo full-w py">
    Quel est <%= desiredInfo %> de...
</div>
<div class="tip py">
    <% if(tipType === 'capital' || tipType === 'country') {%>
        <span><%= tip %></span>
    <% } else { %>
        <img src="<%= tip %>" alt="todo: flag description">
    <% } %>
</div>
</div>